.rilixIcon{width: 60px;transform: rotate(15deg);}

.blink {
  animation: blink 1s steps(1, end) infinite;
}


.balance-stats.active, .balance-stats:focus, .balance-stats:hover {
    border-color: #1652f0;
    background: #1652f0;
}



.balance-stats {
    background: #f5f6fa;
    margin-top: 15px;
    padding: 21px;
    border-radius: 6px;
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a2a5b9;
    background-color: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {

.hidInPhone {
    display:none;
    visibility:hidden;
}};