.rilixIcon{width: 60px;transform: rotate(15deg);}
.spacing{
  height: 25px;
}

.spacingo{
  height: 25px;
}

.banner{
  background-position: center;
  background-image: url('../img/rilix/ntFmJUZ8tw3ULD3tkBaAtf-1200-80.jpg');
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

.balance-stats.active, .balance-stats:focus, .balance-stats:hover {
    border-color: #1652f0;
    background: #1652f0;
}
.storeOnScreaming{
  padding-right: 11%;

  padding-left: 11%;

padding-top: 6%;
}
.coin-svg{
  margin-bottom: 10%;

}
.coin-card{
  width: 70%;
  margin: 25px;
  border-radius: 50px;
padding: 15px;

}


.balance-stats {
    background: #f5f6fa;
    margin-top: 15px;
    padding: 21px;
    border-radius: 6px;
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a2a5b9;
    background-color: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forPhoneIn{
      display:none;
    visibility:invisible;}


@media screen and (max-width: 900px) {

  .noPaddingOnPhone{
        margin:0;
    padding:0;

  
  }

  .container-fluid{
    margin: 0;
    padding:0;
      padding-left: 10px;
      padding-right: 10px;
  }
.forPhoneIn{
      display:contents;
    visibility:visible;}

     .hidInPhone {
    display:none;}

    storeOnPhone{
      padding: auto;
    }

    .storeOnScreaming{
  padding-right: 0;

  padding-left: 0;

padding-top: 0;
margin-top: 0%;
}




@media screen and (max-width: 1500px) {


    .storeOnScreaming{
  padding-right: 0;

  padding-left: 0;

padding-top: 0;
}

  .spacingo{
    height: 0px
  }

};



@media screen and (max-width: 1465px) {
.pricing-card-title{
  font-size: 1rem;
};

.storeOnScreaming{
  padding-right: 2%;

  padding-left: 2%;

padding-top: 10%;
  font-size: 10 px;
}

  .spacingo{
    height: 0px
  }

  .noMarginOnPhone{
    margin: 0;
  }


}




@media screen and (max-width: 1500px) {


.storeOnScreaming{
  padding-right: 5%;

  padding-left: 5%;

padding-top: 2%;
}

  .spacing{
    height: 20px
  }

    .spacingo{
    height: 18px
  }


};



@media screen and (max-width: 1600px) {


 .storeOnScreaming{
  padding-right: 0;

  padding-left: 0;

padding-top: 0;
margin-top: 0%;
}


};













