.rilixIcon{width: 60px;transform: rotate(15deg);}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {

.hidInPhone {
    display:none;
    visibility:hidden;
}};